* {margin: 0px; padding 0px;}

body {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	background-color: black;
	color: white;
}

#theImg{
	position: absolute;
	width: 30px;
	height: auto;
}

#position {
	position: absolute;
}

#desktop{
	opacity: 1;
	color: white;
}

#tablet, #mobile, #print {
	opacity: 0;
}

/* iPad */
@media (min-width: 668px) and (max-width: 1024px) {
	body {
		background: gray;
	}

	#tablet{
		opacity: 1;
	}

	#desktop, #mobile, #print {
		opacity: 0;
	}

}

/* iPhone 6 */
@media (min-width: 375px) and (max-width: 667px) {

	body {
		background: white;
	}

	#mobile{
		opacity: 1;
	}

	#desktop, #tablet, #print {
		opacity: 0;
	}
}

/* print */
@media print {

	body {
		background: white;
	}

	#print{
		opacity: 1;
	}

	#desktop, #tablet, #mobile {
		opacity: 0;
	}
}
