body{

	padding: 200px;
	
}

body .box--01{

	padding: 100px;
	top: -10%;
	

}

.box {
	display: inline-block;
	background: pink;
	width: 200px;
	height: 200px;
	pointer-events: none;
	transition: transform 300ms ease-in-out
}

.trigger{

	width: 200px;
	height: 200px;
	border: 20px solid #999

}


.trigger:hover .box{

transform: translate(100px, 100px)
	rotate(90deg)
}

.box--01{

	display: inline-block;
	background: blue;
	width: 200px;
	height: 200px;
	position: relative;


/*


.container h1{


	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	top: 70%;
	font-family: arial;
	font-size: 4em;
	

}

*/