p {
/*font-family: Ludwig;*/
font-size: 14px;
/*line-height: 100px;*/
}


#a1{
	font-size: 30px;
	text-transform: uppercase;

}

#section1{
	margin-bottom: -20px;
}

body{
font-family: 'Space Mono', monospace;
/*font-family: 'Open Sans', sans-serif;*/
}


/*
div {
 color:red;
 font-size: 25px;
 color:white;
 }*/

